{dialyzer, [
    {plt_apps, all_deps},
    {warnings, [
       %% Warn about undefined types and unknown functions
       unknown, unmatched_returns, error_handling, race_conditions
    ]}
]}.

{xref_checks,[
    %% enable most checks, but avoid 'unused calls' which is often
    %% very verbose
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src"},
             {"(freebsd)", compile, "gmake -C c_src"},
             {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
             {"(freebsd)", clean, "gmake -C c_src clean"}]}.

{alias, [
  {check, [
    xref,
    dialyzer, 
    eunit]}
]}.
